In [28]:
# Public School Analysis

In [29]:
import pandas as pd
from pathlib import Path

# File to Load 
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [12]:
#Total number of unique schools

school_count = len(school_data["school_name"].unique())
school_count

15

In [13]:
#Total students
student_count = len(school_data.index)
student_count

39170

In [18]:
#Total budget                       ***???****
budget_col = school_data['budget'].sum()
total_budget = budget_col/school_count
total_budget

5528821970.533334

In [20]:
#Average math score
average_math_score = school_data["math_score"].mean()
average_math_score

78.98537145774827

In [21]:
#Average reading score
average_reading_score = school_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [24]:
#% passing math (the percentage of students who passed math)
passing_math_count = school_data[(school_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(passing_math_count)
print(passing_math_percentage)

29370
74.9808526933878

In [26]:
#% passing reading
passing_reading_count = school_data[(school_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage =  passing_reading_count / float(student_count) * 100
print(passing_reading_count)
print(passing_reading_percentage)

33610
85.80546336482001

In [27]:
#overall passing (the percentage of students who passed math AND reading)
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [ ]:
# School Summary

In [ ]:
school_types=

In [ ]:
per_school_counts =

In [ ]:
per_school_budget =
per_school_capita =

In [ ]:
per_school_math =
per_school_reading =

In [ ]:
students_passing_math=
school_students_passing_math =